#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 1;
  pointer-events: none;
  transition: transform 0.15s ease-in-out; /* Set transition properties */
}

#cursor.moving {
  background-color: rgba(63, 223, 48, 0.5);
}

#cursor.mousedown {
  background-color: rgba(63, 223, 48, 0.75);
  transform: scale(0.75);
}

#cursor.mouseup {
  background-color: rgba(63, 223, 48, 0.5);
}

#cursor.hover {
  background-color: rgba(63, 223, 48, 0.15);
  transform: scale(2.5);
  transition: transform 0.2s ease-in-out; /* Set transition properties */
}
