@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;500&family=VT323&display=swap');
@import '../styling/Theme.scss';

/* global css for thee entire website */
.website {
  display: grid;
  grid-template-columns: auto min(15vw, 80px);
  width: 100vw;
  height: 300vh;
  background: linear-gradient(to bottom, #1c1f2b, #0f1829); /* Replace these colors with your preferred dark hues */
  
  
  /* Apply filters for darkening and blurring */
  // background-image: url('../com.syntex.assets/background.jpg');
  // background-blend-mode: soft-light;


  cursor: none;
}

.website-navbar{
  width: 100vw;
  height: 3%;

  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;

  #navbar-item{
    font-size: 1.4em;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    user-select: none;
  }

}


/* Add a custom dark scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Use your preferred dark color here */
}

::-webkit-scrollbar-thumb {
  background-color: #404040; /* Use your preferred scrollbar color here */
  border-radius: 20px;
  border: 3px solid #1e1e1e; /* Match the scrollbar track color */
}

/* Remove the default scrollbar for Firefox */
body {
  scrollbar-width: thin;
}

/* Hide the horizontal scrollbar */
html {
  overflow-x: hidden;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}


.tech-stack {
  margin-top: 10px;
  width: 100%;
  height: 10%;
  margin-top: 20px;

  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .icon-list {
    display: flex;
    align-items: center;

    // Adjust the icon size and color here

    font-size: 2em;
    margin-right: 20px;

    .react-icon {
      color: rgb(6, 240, 189);
    }
    .ci-icon {
      color: #EF4223; 
    }
    .bs-icon {
      color: #7952B3; 
    }
    .git-icon {
      color: #F1502F; 
    }
    .html-icon {
      color: #E44D26;
    }
    .js-icon {
      color: #F7DF1E; 
    }
    .java-icon {
      color: #ED8B00; 
    }
    .php-icon {
      color: #8892BF; 
    }
    .py-icon {
      color: #4B8BBE; 
    }
  }
}

.home-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}


.introduction-page {
  width: 100%;
  height: 80vh;

  display: flex;

}

.introduction-label {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.page-section-progress{
  width: 1%;
  height: 100%;

  background-color: red;
}


.introduction-label a {
  font-size: min(10vw, 10vh);
  height: min(10vw, 10vh);

  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  user-select: none;

  justify-content: center;
  display: flex;
  flex-direction: column;
}

#occupation {
  font-size: min(5vw, 5vh);
  height: min(5vw, 5vh);
  color: $primary-color;
}

.changeAnimation {
  display: flex;
  flex-direction: row;
}

#cursor-introduction {
  opacity: 1;
  border-radius: 3px;

  width: 0.5vw;
  height: min(5vw, 5vh);

  background-color: $secondary-color;
  justify-content: center;
  align-items: center;
  display: flex;

  margin-left: 5px;
}

.writing {
  animation: none;
}

.waiting {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
